{% load static %}
<!doctype html>
<html>
<head>
  <title>qypome</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <script type="text/javascript">
    function myFunction() {
      var copyText = document.getElementById("textarea2");
      copyText.select(); 
      copyText.setSelectionRange(0, 99999);
      console.log(copyText.value)
      navigator.clipboard.writeText(copyText.value);
    }
  </script>


  <div class="form-group">
    <span class="instruct">paste to array-ify</span>
    <div id="displayed" class="hori">
      <textarea id="textarea2">{{return}}</textarea>
      <button onclick="myFunction()"><i class="copy zmdi zmdi-copy"></i></button>
    </div>
    <a href="/"><input type="submit" value="again" class="button" name="inputted"></a>
  </div>

  <span class="footer"><a href="https://github.com/skyflaren">qypress</a></span>
</body>

</html>
